
body {
    background-color: black;

}



input[type=text], input[type=password], select {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea , select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #ffa90a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

button[type=reset] {
    width: 20%;
    background-color: #ffa90a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=reset]:hover {
    background-color: grey;
}

div {
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
}

h1,h2 {
    color: white;
}


h3  {
    color: grey;
}

a{
	color:white;
}

.pel{
    padding: 4px 20px;
    margin: 8px 0;

}

.hasi {
	width: 27%;
    background-color: #0F00F0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 150%;
    font-family: 'Allerta', serif;

}
.hasi:hover {
			background-color: #191979;
}

.hasi1{
    width: 60%;
    background-color: black;
    color: white;
    display:inline-block;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;

    cursor: pointer;
    font-size: 100%;
}
.hasi1:hover{
    background-color: grey;
}

.iruzkina_goiburua{
    background-color:#6461a8;
}

.iruzkina_gorputza{
    background-color:#dce0e5;
}
.iruzkina{
    border:2px;
}


.iruzkina_goiburua.izena{
    float:left;
}
.iruzkina_goiburua.data{
     float:right;
    
}
